---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About that guy"
	description="Sam is 100% grass fed, pasture raised, and high in cholesterol."
	pubDate={new Date('February 16 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
  <div class="center">
    <p>Currently refactoring.</p>
    <p style="margin-bottom: 0rem;">Working on too much and doing too little. Interested in:</p>
    <ul>
      <li>AI</li>
      <li>Product design and development</li>
      <li>Nostalgic music</li>
    </ul>
    <p>Let's see if we can change that.</p>
  </div>
</Layout>
