---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import LandingContainer from '../components/LandingContainer.astro';
---

<!doctype html>
<html lang="en" class="home-page">
	<head>
		<BaseHead title={'Let him cook... and scramble his eggs'} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
    <LandingContainer />
		<Footer />
	</body>
</html>
