---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Sam.Land is 100% grass fed, pasture raised, and high in cholesterol.
  <a href="https://v1.sam.land">v1</a>
</footer>
<script>
	const n = ["background: black", "color: #00FF00", "display: block", "padding: 3px"].join(";");
  console.log("%c Hi Stranger! Nice to see you round these parts. Gets really lonely out here", n),
  console.log("%c Wanna chat?", n),
  console.log("%c If you can't yell loud enough, try emailing me hi@sam.land, xeeting @Sam__Land, or just https://www.linkedin.com/in/sam-hoult/", n)
</script>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: rgb(var(--black));
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
